@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100vw;
  height: 100%;
  color: white;
  font-family: sans-serif;
}

.body-cont {
  width: 100%;
  height: 100%;
  background-image: url('./img/pantheons.jpg');
  background-position: center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content1-cont {
  width: 70%;
  height: 99%;
  border: 1px solid rgba(112, 107, 107, 0.705);
  background-color: rgba(0, 0, 0, 0.356);
  padding: 10px;
  margin: 10px;
  display: flex;
  justify-content: center;
}

.content1 {
  width: 70%;
  height: 500px;
  background-color: rgba(27, 27, 27, 0.89);
  padding: 20px;
  margin-top: 100px;
  -webkit-box-shadow: 0px 0px 21px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 21px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 21px 0px rgba(0, 0, 0, 0.75);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  margin-top: 20px;
  font-family: 'Open Sans', sans-serif;
  font-size: 2em;
  color: rgba(255, 255, 255, 0.849);
}

.content1-inside {
  width: 400px;
  height: 300px;
  margin-top: 100px;
}

.option1-cont,
.option2-cont {
  display: flex;
  margin: 10px 10px 40px 10px;
}

.option1-display,
.option2-display {
  border: 1px solid rgba(112, 107, 107, 0.705);
  width: 245px;
  background-color: rgba(27, 27, 27, 0.705);
  margin: 10px;
  text-align: center;
}

.option1-text,
.option2-text {
  margin: 10px 20px 0px 20px;
}

.roll {
  border: 1px solid rgba(112, 107, 107, 0.705);
  width: 100px;
  background-color: rgba(27, 27, 27, 0.705);
  margin: 10px;
  text-align: center;
  cursor: pointer;
  user-select: none;
}

.roll:hover {
  background-color: rgba(85, 34, 34, 0.705);
}
